.icon {
  vertical-align: middle;
  width: 0.9em;
}

.icon-container {
  color: #606264;
  display: inline-block;
  text-decoration: none;

  &::after {
    content: '/';
    display: inline-block;
    margin: 0 0.33em;
  }
}

.social-links {
  list-style: none;
  padding-left: 0;
}
